*, ::after, ::before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  body {
    height: 100vh;
    background-color: #ffffff; 
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  }
  
  .boxLogin {
    width: 350px;
    height: 500px;
    background-color: #962f2ffa;
    border-radius: 10px;
    box-shadow: 0 0 15px 5px rgba(156, 105, 105, 0.986);
  }
  
  .containerLogo {
    height: 40%;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .cercle {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    background-color: #f8bf85;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .cercle img {
    width: 100px;
  }
  
  .containerInputs {
    height: 60%;
  }
  
  form input {
    display: block;
    margin: 15px auto;
    background-color: #f4ede8; 
    width: 85%;
    border: 2px solid #e8d3c3; 
    padding: 12px;
    border-radius: 5px;
    font-size: 14px;
  }
  
  form button {
    display: block;
    margin: 20px auto;
    background-color: #f8bf85; 
    width: 85%;
    border: none;
    padding: 15px;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
    color: rgb(3, 3, 3);
  }
  
  .txtFin, .txtFins a {
    text-align: center;
    color: #000000;
    text-decoration: none;
  }
  
  .red {
    color: #000000; 
  }
  
  .wrong {
    border: 2px solid #000000!important; 
  }
  
  label {
    color: #a68b7b; 
    margin-left: 20px;
  }